.Cropper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 108;
  background-color: rgba(0, 0, 0, .9);
  padding: 1rem .5rem;
}

.Container {
  margin: auto;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid rgba(255, 255, 255, .1);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Container img {
  position: absolute;
  cursor: move;
  display: block;
}

.Container + label span {
  margin: 10px 0;
  display: block;
}

input[type='range'] {
  margin:1rem auto;
  appearance: none;
  height: 10px;
  width: 100%;
  max-width: 250px;
  outline: none;
  cursor: pointer;
  background: #969696;
  border-radius: 5px;
  display: block;
}

input[type='range']::-webkit-slider-thumb {
  appearance: none;
  width: 25px;
  height: 25px;
  border: 5px solid #969696;
  border-radius: 50%;
  background-color: #252525;

}

.Cropper button {
  display: inline-block;
  padding: 0.5rem;
  border: 2px solid #969696;
  margin: 15px 15px;
  border-radius: 5px;
  opacity: .7;
}

.Cropper button:hover {opacity: 1}

.Cropper button:first-of-type {background-position: -707px 0}

.Cropper button:last-of-type {background-position: -729px 0}

@media (min-width:800px) {
  .Cropper {
    position: absolute;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .Cropper button {
    margin: 0 1rem;
    align-self: flex-end;
  }

  .Cropper label input {
    margin-bottom: 0;
  }

  .Cropper label {
    margin: 0;
    width: 35%;
  }

  .Container {
    margin: 0 calc(50% - 250px);
  }
}