.Tools {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 35%;
    padding-right: .5rem;
}

.Tools button {
    background-size: cover;
    color: #969696;
}


.Login , .Sidenav + div {display: none}

@media(min-width:800px){
    .Tools {width: auto}

    button.Login {
        display: block;
        font-weight: bold;
        width: max-content;
        margin: 0 .5rem;
    }

    .Sidenav {display: none}

    .Sidenav + div {display: flex}
}