.Shouts {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 310px;
    background-color: #e5e5e5;
    z-index: 101;
    display: flex;
    flex-direction: column;
    transition: .5s;
}

.Shouts button {font-size: 1.1em}

.Head {
    text-align: center;
    color: #000;
    font-weight: bold;
    padding: .7rem .7rem .8rem;
}

.Head > button {
    font-weight: bold;
    transform: scale(2);
    color: #969696;
    margin-left: auto;
    position: absolute;
    right: 15px;
}

.Head > button:hover , .Footer button:hover {color: #000}

.Buttons{text-align: center}

 .Buttons button{
    margin-top: 1rem;
    background-color: #dddddd;
    color: #000;
    width: 50%;
    padding: 0.5rem;
    font-size: 100%;
}

.Buttons button:first-of-type{border-radius: .3rem 0 0 .3rem}

.Buttons button:last-of-type{border-radius: 0 .3rem .3rem 0}

.Buttons button:hover,
.Buttons.shoutsActive button:last-of-type,
.Buttons.notifActive button:first-of-type{
    color: #fff;
    background-color: #000;
} 

.Body {
    flex: 1;
    border-top: 1px solid #969696;
    overflow-y: auto;
    padding: .7rem;
}

.Body::-webkit-scrollbar {width: 4px}

.Body::-webkit-scrollbar-thumb {background-color: #969696}

.Footer {
    padding: 15px 15px 0;
    border-top: 1px solid #969696;
}

.Footer > button {
    width: 100%;
    color: #969696;
    font-size: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

