.Search {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 105;
    padding: 2rem .5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.Search label {
    width: 100%;
    max-width: 840px;
    display: flex;
    border: 2px solid #fff;
    border-radius: 40px;
    overflow: hidden;
}

.Search input {
    height: 50px;
    font-size: 20px;
    font-family: 'Rubik' , sans-serif;
    width: 85%;
    border: none;
    padding:12px 0 12px 22px;
    outline: none;
    background-color: #000;
    color: #ffffff;
}

.Search button {
    background: #000;
    font-size: 1.5rem;
}

button.Submit {
    width: 15%;
    color: #fff;
}

button.Close {
    position: absolute;
    left: calc(50% - 1rem);
    top:5em;
    border: 2px solid #fff;
    font-size: 2rem;
    color: #ffffff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.Search input::-webkit-input-placeholder {
    color: #fff;
    opacity: .8;
}

.Search input:-ms-input-placeholder {
    color: #fff;
    opacity: .8;
}

.Search input::placeholder {
    color: #fff;
    opacity: .8;
}

@media(min-width:800px) {

    .Search label {height: 80px;}

    .Search input {
        height: auto;
        font-size: 4rem;
        width: 90%;
    }

    button.Submit {
        width: 10%;
        font-size: 3rem;
    }

    button.Close {
        position: static;
        align-self: center;
        height: 60px;
        width: 60px;
    }
}